<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> Del Monte</h1>

<p> The closest shopping center to CSUMB, offerning a variety of shopping locations,
restaurants, and a movie theater to vist while you are at Del Monte! 
</p>
</br>
<button><a href ="http://www.delmontecenter.com/"> Learn more here! </a></button>
</br>
</br>
<button> <a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtoDelMonte.png"> <!-- Insert Pic  --!> </image>


</html>

