<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<div class = "container">
<h1> You are at a Emergency Call Box! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>  The University Police Department provides several emergency call boxes with blue lights 
above them. If you need help, use the box and an officer will respond. The Campus University
 Police also provides a free Night Walk service. If you are out alone after dark and do not 
 feel comfortable walking by yourself, you can use the Night Walk service and walk with an
  officer.
</p>

</br>
</br>
<button><a href = "https://csumb.edu/police/personal-safety-0?_search=emergency+call+box" target="_blank" >  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/library_to_bit" >  Click here to go back! </a></button>
</br>
</br>
</div>
</html>
