<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<div class = "container">
<h1> You are at Sports Center! </h1>

<image> <!-- Insert Pic  --!> </image>

<p> The Otter Sports Center provides enhanced opportunities for the CSUMB campus community to workout and play, including a gymnasium, locker rooms, a racquetball court, a weight training area, and a cardio fitness area. Only students, faculty, and staff with a current CSUMB ID have access to the Otter Sports Center.
</p>


</br>
</br>
<button><a href = "https://csumb.edu/facilities/otter-sports-center?_search=gym" target="_blank" >  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/gym_to_upd" >  Click here to continue your journey </a></button>
</div>
</html>
