<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<div class = "container">

<h1> You are at the Library! </h1>

<image> <!-- Insert Pic  --!> </image>

<p> At the Library, students can study in a quiet and focused setting. Students can borrow books and take advantages of the services that the library provides, such as the Cooperative Learning Center, a free student-lead tutoring service. </p>

</br>
</br>
<button><a href = "https://csumb.edu/library" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/library_to_bit" >  Click here to continue your journey </a></button>
</div>
</html>




