<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<div class = "container">
<h1> You are at Montes! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>  Monte’s full-service restaurant, located inside the University Center, is a fantastic venue for a lunch meeting or a dinner outing with your friends! Monte’s offers offers daily specials and foods that feature flavors that everyone is sure to enjoy.
</p>

</br>
</br>
<button><a href = "https://csumb.sodexomyway.com/dining-choices/montes.html?_search=montes" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/university_center" >  Click here to go back! </a></button>
</div>
</html>




