<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css">
</head>
	<body>
	<h1>Here's a map from Manzanita Hall to the Dining Commons and Otter Express!</h1>
		<p>
		<img src="images/ManzanitatoOEDC.png">
		</img>
		</p>
	</body>
	</div>
</html>