<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the Student Services building! </h1>

<image> <!-- Insert Pic  --!> </image>

<p> The Student Services building is where your admissions and financial aid information is processed. When students are accepted into CSU Monterey Bay, they can pick up their IDs here!</p>

</br>
</br>
<button><a href = "https://csumb.edu/directory/buildings/student-services?_search=student+services" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/student_services_to_university_center" >  Click here to continue your journey </a></button>

</html>




