<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<div class = "container">
<h1> Target </h1>

<p> The closet store near the campus that can fulfill all the needs you need. From the grocery 
aspect to the necessities you may need in your dorm. </p>
</br>
<button><a href ="http://www.target.com/"> Learn more here! </a></button>
</br>
</br>
<button> <a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtoTarget.png"> <!-- Insert Pic  --!> </image>
</div>
</html>

