<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<div class = "container">
<h1> You are at the World Language & Culture Building! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>  The World Language & Culture (WLC) program encourages multiple ways of learning about world cultures and/or enhancing language skills. CSU Monterey Bay encourages students to develop their literacy in global matters, multiculturalism and cultural diversity, as well as helping them achieve and formidable level of proficiency in a world language other than English.</p>

</br>
</br>
<button><a href = "https://csumb.edu/wlc?_search=world+language+center" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/world_language_center_to_student_services" >  Click here to continue your journey </a></button>
</div>
</html>




