<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
</head>
<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css">
</head>
<div class = "container">
	<body>
	<h1>Here's a map from the University Center to the World Theater!</h1>
		<p>
		<img src="images/UniversityCtoWorldTh.png">
		</img>
		</p>
	</body>
</div>
</html>