<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the Associated Students area! </h1>

<image> <!-- Insert Pic  --!> </image>

<p> The Associated Students of CSU Monterey Bay is an organization that seeks to serve, empower, and represent students in all areas of student concern. </p>
</br>
</br>
<button><a href = "https://csumb.edu/as?_search=AS" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/student_center" >  Click here to go back! </a></button>

</html>




