<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are back at the Student Center! </h1>

<image> <!-- Insert Pic  --!> </image>

<p> Now that you have finished your tour of the campus, here are some local areas you may
be interested in seeing:
</p>
</br>

<li> <a href = "highway.html" > Highway 1/ Big Sur</a> </li>
<li> <a href = "seventeen_mile_drive.html" >17 Mile Drive </a></li>
<li> <a href = "beach.html" >School Beach</a> </li>
<li><a href = "cannery_row.html" > Cannery Row </a></li>
<li><a href = "target.html" > Target</a> </li>
<li> <a href = "wharf.html" >Fishermans Wharf</a> </li>
<li><a href = "noodle_bar.html" > Noodle Bar </a></li>
<li><a href = "del_monte.html" > Del Monte Shopping Center</a> </li>

</br>
</br>
</br>

</html>

