<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> The beach closest to the school!</h1>

<p> Being so close to the ocean has it's advantages! As a student you are about two miles 
from the ocean if you were to walk! The pathway is set, many students walk to the beach 
between classes, on the weekends to take a nice and relaxing break by the ocean. </p>
</br>
<button> <a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtobeach.png">  </image>



</html>
