<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at a bus stop </h1>

<image> <!-- Insert Pic  --!> </image>

<p> All CSU Monterey Bay students are given free, unlimited access on Monterey-Salinas 
Transit (MST) buses using their student IDs. The MST public bus system goes through the 
the campus to all over Monterey Bay. Students can use those routes, as well as ride as far
 north to Santa Cruz and even San Jose, all for free.
</p>
</br>
</br>
<button><a href = "https://csumb.edu/transportation?_search=bus+system" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/bus_to_student_center" >  Click here to continue your journey </a></button>

</html>




