<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> Welcome To CSUMB's Tour! </h1>
<image> <!-- Insert Pic  --!> </image>
<body>
<img src="http://www.mpc.edu/Home/ShowImage?id=8923&t=635627148712470000"></img>
<h2>
To begin the tour, use a QR code scanner at the Student Center!
</h2>
</body>
<h3><button><a href="https://docs.google.com/document/d/19ilcvT12mddUvxe30jyhXuGugDtV8WDE0DFIjU2TJwk/edit?usp=sharing" target=blank>
Click here for further instructions!</a></button>
</h3>
</html>