<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> Cannery Row </h1>

<p> Cannery Row is the most popular vacation destination on the coast. Originally Cannery Row
was an industrial row full of whaling and a main sardine industry. Over the years the area 
has been restored and developed into a modern representation with many shops, restaurants, and
activities to do on Cannery Row!</p>
</br>
<button><a href ="http://canneryrow.com/"> Learn more here! </a></button>
</br>
</br>
 <button><a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtoCannery.png"> <!-- Insert Pic  --!> </image>


</html>
