<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> Carmel Plaza </h1>

<p> The Carmel Plaza is a great area full of local boutiques, items from around the globe,
and many different styles of restaurants. The area is full of hidden walkways and areas to explore. 
If you choose to walk straight down Ocean Ave, you will reach a marvelous beach. There is a 
lot to explore in this area! 
</p>
</br>
<button><a href ="http://carmelplaza.com/"> Learn more here! </a></button>
</br>
</br>
 <button><a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtoCarmel.png"> <!-- Insert Pic  --!> </image>



</html>
