<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the Chapman Science Center! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>   The Chapman Science Academic Center is the science and math building. Fun Fact: The architect of this building was in love with that smell of the Splash Mountain ride, that he infused the walls with sea water.
</p>

</br>
</br>
<button><a href = "https://csumb.edu/directory/buildings/chapman-science-academic-center?_search=chapman" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/chapman_to_world_language_center" >  Click here to continue your journey </a></button>

</html>




