<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at one of the dorms, Manzanita! </h1>

<image> <!-- Insert Pic  --!> </image>
<body>
<p>   Manzanita Hall is one of the many Residential Halls that reside on the main campus.
Residence Halls on the main campus are three-story buildings with common areas, and washer/dryer
room, mail room, and common kitchen. All residential rooms have their own sink, bathroom,
and shower connected to their room.
</p>

</br>
</br>
<button><a href = "https://csumb.edu/housing/housing-options?_search=housing" target="_blank" >  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/manzanita_to_oe_and_dc" >  Click here to continue your journey </a></button>
</body>
</html>

