<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> Highway 1 and the Big Sur area! </h1>

<p> Highway 1 through Big Sur is a National Scenic Byway with plenty of amazing site to be
seen. There are many different local hiking locations from beaches to trailing up mountains. 
Even some restaurants can be seen along the route. As you drive down the one ocean views that 
are out of this world will be on the right, while the nature and forestry will be on the left.
There are many spots along the way to spot, explore, and take pictures of the surrounding areas. 
</p>
</br>
<button><a href= "http://www.bigsurcalifornia.org/"> Learn more here!</a></button>
</br>
</br>
 <button><a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtobigsur.png"> <!-- Insert Pic  --!> </image>


</html>
