<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the Multicultural Greek Council area! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>  Greek Life is a wonderful way to get involved at Cal State Monterey Bay, create lifelong relationships, give back to our community, and develop leadership skills. CSUMB Greek Life consists of 14 Greek Letter Organizations, governed by the Multicultural Greek Council (MGC). The MGC aims to live out five pillars: academics, leadership, service, support, and social justice.</p>

</br>
</br>
<button><a href = "https://csumb.edu/greek" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/student_center" >  Click here to go back! </a></button>

</html>




