<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> Noodle Bar</h1>

<p> Noodle bar is a very popular local restaurant student's go to for asian cuisine and
of course boba!
</p>
</br>
<button><a href ="https://www.facebook.com/pages/Noodle-Bar/112131105509188?nr=208328679286257"> Learn more here! </a></button>
</br>
</br>
 <button><a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtoNoodle.png"> <!-- Insert Pic  --!> </image>


</html>
