<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the Otter Cross Cultural Council! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>   The Otter Cross Cultural Center (OC3) is committed to advancing the University vision of diversity, cross culturalism, and social justice. Their purpose is to promote a learning community of cross-cultural engagement, understanding and exchange through education, collaboration, dialogue, and action.</p>
</br>
</br>
<button><a href = "https://csumb.edu/oc3?_search=OC3" target="_blank">  To learn more click here! </a></button>
</br>
</br>

<button><a href = "/student_center" >  Click here to go back! </a></button>

</html>




