<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> 17 Mile Drive </h1>

<p> The 17 Mile Drive is one of the most scenic drives in the world. The costal drive goes
from Pacific Grove to Pebble Beach. Throughout the drive you will experience a variety of 
scenery from the Del Monte Forest to the Pacific coastline.  </p>
</br>
<button><a href ="http://www.californiabeaches.com/17-mile-drive-pebble-beach/"> Learn more here! </a></button>
</br>
</br>
<button> <a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCto17mile.png"> <!-- Insert Pic  --!> </image>


</html>
