<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are here in the Starbucks in the Student Center~!</h1>

<image> <!-- Insert Pic  --!> </image>

<p> Starbucks is located the Student Center and is a popular place to relax, study, or hang out with your friends. Start your day off with a fresh White Mocha or come by in the afternoon and kick back with a Passion Tea Lemonade. No matter your preference, Starbucks has something for you!

 </p>
</br>
</br>
<button><a href = "https://csumb.sodexomyway.com/dining-choices/starbucks.html?_search=starbucks" target="_blank">  To learn more click here! </a></button>
</br>
</br>

<button><a href = "/student_center" >  Click here to go back! </a></button>

</html>




