<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are here in the Student Center </h1>

<image> <!-- Insert Pic  --!> </image>

<p> The Student Center offers students a place to meet and is home to several student-centric services and offices. In the Student Center, fellow otters can relax in the game room or in the lounge and meet other fellow otters!
 </p>

</br>
</br>
<button><a href = "https://csumb.edu/directory/buildings/student-center?_search=student+center" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/student_center_to_chapman" >  Click here to continue your journey </a></button>

</html>




