<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the University Center! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>  In the University Center, conferences and events are help to promot the partnership of the University to the surrounding communities. The Student Bookstore is also located in the University Center, where students can purchase course materials and Otter Swag!
</p>

</br>
</br>
<button><a href = "https://csumb.edu/directory/buildings/university-center?_search=university+center" target="_blank">  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/university_center_to_world_theater" >  Click here to continue your journey </a></button>

</html>




