<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<!DOCTYPE html>
<html>
<h1> You are at the University Police Department! </h1>

<image> <!-- Insert Pic  --!> </image>

<p>  The officers and staff of the University Police Department (UPD) are committed to ensuring your stay on the CSU Monterey Bay campus is safe and enjoyable. The UPD is operational 24 hours a day, all year round and provides services such as police reports, and NightWalk services.
</p>

</br>
</br>
<button><a href = "https://csumb.edu/police?_search=upd"target="_blank" >  To learn more click here! </a></button>
</br>
</br>
<button><a href = "/upd_to_health_center" >  Click here to continue your journey </a></button>

</html>
