<link rel="stylesheet" type="text/css" href="stylesheets/style_map.css"/>
<!DOCTYPE html>
<html>
<h1> The Fisherman's Wharf in Monterey  </h1>

<p> The Wharf is a great experience full of restaurants, shops, sailing, fishing, whale watching,
and observing sea lions. Of course if you want to have a say in what the best Clam Chowder is 
on the Wharf, take a walk down and grab a sample or two from the restaurants! </p>
</br>
<button><a href ="http://www.montereywharf.com/"> Learn more here! </a></button>
</br>
</br>
 <button><a href = "attractions.html" > Back to the list</a></button>
</br>
</br>
<image src="images/SCtoFishermansWharf.png"> <!-- Insert Pic  --!> </image>


</html>
